/* Header Start */
h2.typing-txt{
  font-size: 30px;
  font-family: "Nanum Gothic";
  height: 35px; overflow: hidden;
  animation: typingAni 2s steps(30, end) 1;
}
h2.typing-txt::after{
  position:relative; 
  display:block;
}
@keyframes typingAni {
  0%{width:0%}
  100%{width: 600px};
}
/* Header End */

.split {
  height: 90%;
  position: absolute;
  z-index: 1;
  top: 1;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  width: 15%;
  background-color: rgb(224, 224, 224);
}

/* Control the right side */
.right {
  right: 0;
  width: 85%;
  background-color: rgb(233, 230, 235);
}
.selected{
  fill:red;
}
.notSelected{
  fill:white;
}
.listHover{
  fill: yellow;
}
.listDrag{
  fill:white;
}

.detailHover{
  color:rgb(38, 150, 184);
  position: absolute;
  text-align:left;
}
.detailDiv{
  height:150px;
  width:80%;
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
}
.bold{
  font-weight:bold;
}
.listLine{
  stroke: blue;
  stroke-width: .01;
  fill:red;
}

html{
  position: relative;
  min-height: 100%;
  margin: 0;
}


div.tooltip {
  position: absolute;	
  text-align: center;	
  width: 150px;	
  height: 20px;		
  padding: 2px;	
  font: 12px sans-serif;	
  background: lightsteelblue;	
  border: 0px;					
  border-radius: 8px;
 /*  pointer-events: none;	This line needs to be removed */
}